<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title></title>
</head>
<body>
    <div class="container">
      <div class="logo">
        <h1 class="display-4">m-Doc</h1>
      </div>
      <div class="menu">
        <ul>
          <li>MAGAZINES</li>
          <li>RADIO</li>
          <li class="active"><i class="fa fa-music"></i>MUSIC</li>
          <li>MOVIES & TV SERIES</li>
          <li>TUTORIALS</li>
          <li>NEWS</li>
          <li>EXERCISE</li>


        </ul>
      </div>
    </div>
</body>
</html>
